# L2 Demo - Local Development Environment
# Usage: ./run-local.sh --env-file ~/Eng/offsite-sequencer-env/.env-local

SEQUENCER_NODE_ENDPOINT=https://testnet.nomos.tech/node/2/
ARCHIVER_NODE_ENDPOINT=https://testnet.nomos.tech/node/2/

TOKEN_NAME=MEM
TESTNET_USERNAME=
TESTNET_PASSWORD=

VITE_SEQUENCER_URL=http://192.168.18.47:8080
VITE_EXPLORER_URL=http://192.168.18.47:8000
VITE_ARCHIVER_URL=http://192.168.18.47:8090